{% extends "base.html" %}

{% block content %}
    <div>
        <h2>A conversation about: <a href='{{ conver_url }}' class='conver_url'>{{ conver_url }}</a></h2>
    </div>

    <ul>
        {% for message in messages %}
            <li><strong>{{ message.author }}:</strong> {{ message.text }}</li>
        {% endfor %} 
    <ul>

    <div>
        <form>
            <div>
                <input type="text">
                <input type="submit" value="Send"/>
            </div>
        </form>
    </div>    
{% endblock %}